<div class="container">
  <div class="row gy-5 gx-4 g-xl-5">
    <div class="col-lg-6" *ngFor="let article of articles">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
         
            <div class="post-image position-relative">
              <img [routerLink]="['/article',article._id]"
                class="w-100 h-auto rounded"
                [src]="'http://127.0.0.1:5000/image/'+article.image"
                alt="3 reasons why sodium-ion batteries may dethrone lithium"
                width="970"
                height="500"
              />
            </div>
   
          <ul class="card-meta list-inline mb-3">
            <li class="list-inline-item mt-2">
              <i class="ti ti-calendar-event"></i>
              <span>{{article.date|date}}</span>
            </li>
            <li class="list-inline-item mt-2">—</li>
            <li class="list-inline-item mt-2">
              <i class="ti ti-clock"></i>
              <span>03 min read</span>
            </li>
          </ul>
          <a
            class="d-block"
            href="blog-single.html"
            title="3 reasons why sodium-ion batteries may dethrone lithium"
          >
            <h3 class="mb-3 post-title">
            {{article.title}}
            </h3>
          </a>
          <p>
           {{article.description}}
          </p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
          <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
              <a
                href="author-single.html"
                class="card-meta-author"
                title="Read all posts by - Emma Hazel"
              >
                <img
                  class="w-auto"
                  src="assets/assets/images/author/emma-hazel.jpg"
                  alt="Emma Hazel"
                  width="26"
                  height="26"
                />
                by <span>Emma</span>
              </a>
            </li>
            <li class="list-inline-item mt-2">•</li>
            <li class="list-inline-item mt-2">
              <ul class="card-meta-tag list-inline" >
                <li class="list-inline-item small"*ngFor="let tag of article.tags">
                  <a href="tag-single.html">{{tag}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </article>
    </div>

    <div class="col-12">
      <!-- pagination -->
      <nav class="text-center mt-5">
        <ul
          class="pagination justify-content-center border border-white rounded d-inline-flex"
        >
          <li class="page-item">
            <a
              class="page-link rounded w-auto px-4"
              href="blog.html"
              aria-label="Pagination Arrow"
              >Prev</a
            >
          </li>
          <li class="page-item active">
            <a href="blog.html" class="page-link rounded">1</a>
          </li>
          <li class="page-item">
            <a href="blog.html" class="page-link rounded">2</a>
          </li>
          <li class="page-item mt-2 mx-2">...</li>
          <li class="page-item">
            <a
              class="page-link rounded"
              href="blog.html"
              aria-label="Pagination Arrow"
              >16</a
            >
          </li>
          <li class="page-item">
            <a
              class="page-link rounded w-auto px-4"
              href="blog.html"
              aria-label="Pagination Arrow"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
